In [171]:
# importation de pandas

from pandas import read_csv
import numpy as np

#insertion du fichier csv train dans un dataframe

df_train_full = read_csv( 'https://oml-data.s3.amazonaws.com/kaggle-give-me-credit-train.csv' )
df_test = read_csv('https://oml-data.s3.amazonaws.com/kaggle-give-me-credit-test.csv')

#affichage du fichier csv train full

#df_train_full.describe()

,Unnamed: 0,RevolvingUtilizationOfUnsecuredLines,age,NumberOfTime30-59DaysPastDueNotWorse,DebtRatio,MonthlyIncome,NumberOfOpenCreditLinesAndLoans,NumberOfTimes90DaysLate,NumberRealEstateLoansOrLines,NumberOfTime60-89DaysPastDueNotWorse,NumberOfDependents,SeriousDlqin2yrs
count,150000.000000,150000.000000,150000.000000,150000.000000,150000.000000,1.202690e+05,150000.000000,150000.000000,150000.000000,150000.000000,146076.000000,150000.000000
mean,75000.500000,6.048438,52.295207,0.421033,353.005076,6.670221e+03,8.452760,0.265973,1.018240,0.240387,0.757222,0.066840
std,43301.414527,249.755371,14.771866,4.192781,2037.818523,1.438467e+04,5.145951,4.169304,1.129771,4.155179,1.115086,0.249746
min,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,37500.750000,0.029867,41.000000,0.000000,0.175074,3.400000e+03,5.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,75000.500000,0.154181,52.000000,0.000000,0.366508,5.400000e+03,8.000000,0.000000,1.000000,0.000000,0.000000,0.000000
75%,112500.250000,0.559046,63.000000,0.000000,0.868254,8.249000e+03,11.000000,0.000000,2.000000,0.000000,1.000000,0.000000
max,150000.000000,50708.000000,109.000000,98.000000,329664.000000,3.008750e+06,58.000000,98.000000,54.000000,98.000000,20.000000,1.000000

#change toutes les valeurs nan d'une colonne en 0

df_train_full['NumberOfDependents'] = df_train_full.fillna(0)

#change de type une colonne

df['age'] = df['age'].astype(int)

In [172]:
#création nouvelle colonne qui est une agrégation de 3 colonnes

df_train_full.insert( 6, 'NumberOfTimes30DaysOrLater', df_train_full['NumberOfTime30-59DaysPastDueNotWorse'] + 2*df_train_full['NumberOfTime60-89DaysPastDueNotWorse'] + 3*df_train_full['NumberOfTimes90DaysLate'])
df_test.insert( 6, 'NumberOfTimes30DaysOrLater', df_train_full['NumberOfTime30-59DaysPastDueNotWorse'] + 2*df_train_full['NumberOfTime60-89DaysPastDueNotWorse'] + 3*df_train_full['NumberOfTimes90DaysLate'])

In [173]:
#suppression des trois colonnes qui ont servit à l'agregation de la colonne précédente

del df_train_full['NumberOfTime30-59DaysPastDueNotWorse']
del df_train_full['NumberOfTimes90DaysLate']
del df_train_full['NumberOfTime60-89DaysPastDueNotWorse']

del df_test['NumberOfTime30-59DaysPastDueNotWorse']
del df_test['NumberOfTimes90DaysLate']
del df_test['NumberOfTime60-89DaysPastDueNotWorse']

In [174]:
#création de la colonne isOld

df_train_full.insert( 3, 'IsOld', 0)

df_test.insert( 3, 'IsOld', 0)

In [175]:
#remplacement des valeurs dans la colonnes isOld suivant les conditions préétablies

df_train_full.loc[df_train_full['age'] >= 70,'IsOld'] = 1

df_test.loc[df_train_full['age'] >= 70,'IsOld'] = 1

#suppression des valeurs anomalies

df_train_full.loc[df_train_full['NumberOfOpenCreditLinesAndLoans'] == 0,'NumberOfTimes30DaysOrLater'] = 0

#insertion de la colonne debt

df_train_full.insert( 6, 'Debt', 0)

df_test.insert( 6, 'Debt', 0)

#nous plaçons dans debt les valeurs anomalies de DebtRatio

def debtCalc(row):
    if row['DebtRatio'] > 1:
        row['Debt'] = row['DebtRatio']
        
    else:
        row['Debt'] = 12*row['DebtRatio']*row['MonthlyIncome']
    return row

for df in [df_train_full, df_test]:
    df['Debt'] = df[['Debt', 'DebtRatio', 'MonthlyIncome']].apply(debtCalc,axis=1)

#suppression des valeurs anomalies de la colonne debtRatio
df_train_full.loc[df_train_full['DebtRatio'] > 10,'DebtRatio'] = 0
df_test.loc[df_train_full['DebtRatio'] > 10,'DebtRatio'] = 0

In [176]:
#renomme la colonne 0

myList = list(df_train_full.columns)
myList[0] = 'Id'
df_train_full.columns = myList

myList = list(df_test.columns)
myList[0] = 'Id'
df_test.columns = myList

In [177]:
#affichage de vérifcation

df_train_full

,Id,RevolvingUtilizationOfUnsecuredLines,age,IsOld,DebtRatio,MonthlyIncome,NumberOfTimes30DaysOrLater,NumberOfOpenCreditLinesAndLoans,NumberRealEstateLoansOrLines,NumberOfDependents,SeriousDlqin2yrs
0,1,0.766127,45,0,0.802982,9120.0,2,13,6,2.0,1
1,2,0.957151,40,0,0.121876,2600.0,0,4,0,1.0,0
2,3,0.658180,38,0,0.085113,3042.0,4,2,0,0.0,0
3,4,0.233810,30,0,0.036050,3300.0,0,5,0,0.0,0
4,5,0.907239,49,0,0.024926,63588.0,1,7,1,0.0,0
...,...,...,...,...,...,...,...,...,...,...,...
149995,149996,0.040674,74,1,0.225131,2100.0,0,4,1,0.0,0
149996,149997,0.299745,44,0,0.716562,5584.0,0,4,1,2.0,0
149997,149998,0.246044,58,0,3870.000000,NaN,0,18,1,0.0,0
149998,149999,0.000000,30,0,0.000000,5716.0,0,4,0,0.0,0
149999,150000,0.850283,64,0,0.249908,8158.0,0,8,2,0.0,0

In [178]:
df_train_full.to_csv('train_full.csv')
df_test.to_csv('test.csv')